html {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	width: 100%;
	height: 100%;
	display: flex;
}

.wrapper {
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}

#enchantFakeGameBox {
	width: 384px;
	height: 576px;
	margin: 16px;
}

#blocklyDiv {
	height: 576px;
	min-width: 600px;
	flex-grow: 1;
}
