@font-face {
	font-family: 'PixelMplus10';
	src: url('./PixelMplus10-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html {
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
}

.wrapper {
	margin-bottom: 16px;
	display: flex;
	flex-wrap: wrap;
}

#enchant-stage {
	width: 384px;
	height: 576px;
	margin-right: 16px;
}

#blocklyDiv {
	height: 576px;
	min-width: 600px;
	flex-grow: 1;
}

#hint-container {
	border: 4px solid #ffc33c;
	border-radius: 10px;
}

.hint-list-element {
}

.hint-list-element.inactive:hover {
	color: darkgray;
}

.hidden {
	display: none;
}
